<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Historiales Médicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Historiales Médicos</h1>
    <ul>
        {% for historial in historiales %}
            <li>
                <strong>Diagnóstico:</strong> {{ historial.diagnostico }}<br>
                <strong>Tratamiento:</strong> {{ historial.tratamiento }}<br>
                <strong>Notas:</strong> {{ historial.notas }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
