<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Historiales Médicos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Historiales Médicos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Diagnóstico</th>
                <th>Tratamiento</th>
                <th>Notas</th>
                <th>Paciente ID</th>
            </tr>
        </thead>
        <tbody>
            {% for historial in historiales %}
            <tr>
                <td>{{ historial.historial_id }}</td>
                <td>{{ historial.diagnostico }}</td>
                <td>{{ historial.tratamiento }}</td>
                <td>{{ historial.notas }}</td>
                <td>{{ historial.paciente_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
